body {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  background: #f2f2f2;
}
h1 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}
h2 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
}
button:active, button:focus {
  outline: none;
}
img {
	max-width: 100%;
	height: auto;
}
/* symbols-sedona start */
@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}
[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  speak: none;
}
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */
/* symbols-sedona end */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  box-shadow: 0 0 20px -4px rgba(0, 0, 0, 0.3);
}
.sprite {
    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    display: block;
}
.logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
}
.main-navigation {
  margin: 0;
  padding: 0 72px;
  list-style: none;
}
.main-navigation::after {
  content: '';
  display: table;
  clear:both;
}
.main-navigation .left{
  float: left;
  text-align: left;
}
.main-navigation .right{
  float: right;
  text-align: right;
}
.main-navigation li {
  display: inline-block;
  vertical-align: top;
  width: 241px;
  padding-top: 14px;
  padding-bottom: 16px;
  vertical-align: top;
}
.main-navigation a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  white-space: nowrap;
}
.main-navigation a:hover {
  color: #81b3d2;
}
.main-navigation a:active {
  color: #b2b2b2;
}
.main-navigation a.active {
  color: #766357;
  cursor: pointer;
}
.main-navigation a.active:hover {
  color: #604e43;
}
.main-navigation a.active:active {
  color: #d6d0cc;
}
.index-image {
  margin-bottom: 53px;
}
.intro {
  width: 575px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 51px;
  text-align: center;
  line-height: 26px;
}
.intro h1{
  margin-bottom: 27px;
  font-size: 21px;
  font-weight: bold;
}
.light-blue-bg {
  background-color: #81b3d2;
  color: #ffffff;
}
.light-blue-bg h2{
  color: #ffffff;
}
.light-gray-bg {
  background-color: #eeeeee;
}
.reasons {
  /* for correct form move out animation*/
  position: relative;
  z-index: 10;

  font-size: 0;
  line-height: 0;
}
.reason-item {
  display: inline-block;
  vertical-align: top;
  padding-top: 37px;
  padding-left: 46px;
  padding-right: 46px;
  width: 400px;
  min-height: 256px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
  line-height: 21px;
}
.reason-item.reason-item-bottom {
  padding-top: 30px;
}
.reason-item h2 {
  margin-bottom: 24px;
  padding-left: 78px;
  padding-right: 79px;
}
.reason-item .reason-num {
  margin-bottom: 22px;
}
.reason-image {
  display: inline-block;
  vertical-align: top;
  width: 800px;
}
.reason-info {
  padding: 0 3px;
}
.recommendations {
  font-size: 0;
}
.recommendation-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-top: 144px;
  padding-left: 54px;
  padding-right: 54px;
  width: 400px;
  min-height: 330px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
}
.recommendation-item h2 {
  margin-bottom: 24px;
  line-height: 21px;
}
.recommendation-item p {
  line-height: 21px;
}
.sprite-icon_food {
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -37px;
  width: 74px;
  height: 70px;
  background-position: -128px -5px;
}
.sprite-icon_gift {
  position: absolute;
  top: 56px;
  left: 50%;
  margin-left: -32px;
  width: 64px;
  height: 76px;
  background-position: -128px -85px;
}
.sprite-icon_house {
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -37px;
  width: 75px;
  height: 72px;
  background-position: -5px -171px;
}
.hotels {
  /* for correct form move out animation*/
  position: relative;
  z-index: 10;
  background: #ffffff;
}
.hotels-search {
  width: 450px;
  padding-top: 53px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.hotels-search-promo {
  margin-bottom: 27px;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
}
.hotels-search p {
  margin-bottom: 47px;
}
.btn {
  display: block;
  border: 0;
  background: none;
  cursor: pointer;
}
.btn-hotel {
  width: 568px;
  height: 86px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  background-color: #766357;
  font-size: 21px;
  font-weight: bold;
  line-height: 86px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
.btn-hotel:hover {
  background-color: #604e43;
}
.btn-hotel:active {
  background-color: #503e33;
  color: #857871;
}
.hotels-map {
  position: relative;
}
.map-frame {
  width: 1200px;
  height: 593px;
  background: url("../img/map.jpg") no-repeat 50% 50%;
}
@keyframes form-appear {
  0%   {
    transform: translateY(-500px);
  }
  100% {
    transform: translateY(0);
  }
}
.modal {
  display: none;
}
.modal-show {
  display: block;
  animation-name: form-appear;
  animation-duration: 1s;
}
.modal-booking {
  /* for correct form move out animation*/
  z-index: 1;

  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -284px;
  width: 568px;
  padding: 55px;
  min-height: 395px;
  box-sizing: border-box;
  background-color: #fff;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  box-shadow:
    -5px 5px 20px -4px rgba(0, 0, 0, 0.3),
    5px 5px 20px -4px rgba(0, 0, 0, 0.3);
}
.booking-row {
  position: relative;
  margin-bottom: 30px;
  font-size: 0;
}
.modal-booking label {
  display: inline-block;
  vertical-align: top;
  width: 112px;
  padding: 6px 0;
  box-sizing: border-box;
  font-size: 14px;
}
.booking-date {
  width: 346px;
  height: 38px;
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 38px;
  border-width: 0;
  font-size: 14px;
  border: 2px solid transparent;
  background-color: #f2f2f2;
  text-transform: uppercase;
}
.booking-date:hover {
  background-color: #ebebeb;
}
.booking-date:active,.booking-date:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}
.icon-calendar {
  position: absolute;
  top: 50%;
  right: 0px;
  margin-top: -14px;
  font-size: 21px;
  color: #c2c2c2;
  cursor: pointer;
}
.icon-calendar:hover {
  color: #000000;
}
.icon-calendar:active {
  color: #81b3d2;
}
.modal-booking-counter {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  font-size: 14px;
  border: 2px solid transparent;
  background-color: #f2f2f2;
  text-align: center;
}
.modal-booking-counter:hover {
  background-color: #ebebeb;
}
.modal-booking-counter:active,.modal-booking-counter:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}
.btn-qty {
  display: inline-block;
  vertical-align: top;
  width: 38px;
  height: 38px;
  border-width: 0;
  font-size: 14px;
  background-color: #f2f2f2;
  text-align: center;
  color: #a9a9a9;
}
.btn-qty:hover {
  color: #000000;
}
.btn-qty:active {
  color: #81b3d2;
}
.booking-count-block {
  display: inline-block;
  vertical-align: top;
  width: 117px;
}
.booking-count-block.right {
  text-align: right;
}
.booking-row label.right {
  text-align: right;
  padding-right: 24px;
}
.booking-children {
  float: left;
  padding-left: 50px;
  font-size: 14px;
  line-height: 38px;
}
.btn-hotel-search {
  width: 455px;
  height: 58px;
  margin-top: 54px;
  margin-left: auto;
  margin-right: auto;
  background-color: #81b3d2;
  border-width: 0;
  font-size: 21px;
  text-transform: uppercase;
  color: #ffffff;
}
.btn-hotel-search:hover {
  background-color: #669ec0;
}
.btn-hotel-search:active {
  background-color: #5496bd;
  color: #88b6d1;
}
.input-error {
  border-color: rgba(255, 0, 0, 0.5);;
}
.main-footer {
  font-size: 0;
  text-align: center;
}
.main-footer-index {
  opacity: 0.9;
  margin-top: -120px;
}
.footer-hashtag, .footer-social, .footer-copyright {
  display: inline-block;
  vertical-align: top;
  min-height: 120px;
  box-sizing: border-box;
  width: 400px;
  text-align: center;
}
.footer-hashtag {
  font-size: 21px;
  font-weight: bold;
  line-height: 120px;
}
.footer-social {
  font-size: 0;
}
.social-btn {
  display: inline-block;
  vertical-align: top;
  margin-top: 36px;
  margin-right: 6px;
  width: 46px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 0;
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
}
.social-btn:hover {
  background-color: #669ec0;
}
.social-btn:active {
  background-color: #5496bd;
  color: #88b6d1;
}
.social-btn span {
  font-size: 19px;
}
.footer-copyright {
  padding-top: 40px;
  font-size: 14px;
}
.sprite-academy_logo {
  display: inline-block;
  vertical-align: middle;
  width: 113px;
  height: 39px;
  margin-left: 8px;
  background-position: -5px -5px;
}
.sprite-academy_logo:hover {
  background-position: -5px -103px;
}
.sprite-academy_logo:active {
  background-position: -5px -54px;
}
.filter {
  min-height: 217px;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 27px;
  box-sizing: border-box;
  background: url(../img/sedona_blurred.jpg) no-repeat 0 -57px;
  background-size: 100%;
  color: #ffffff;
}
.filter::after {
  content: '';
  display: table;
  clear:both;
}
.filter legend {
  margin-bottom: 26px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}
.filter fieldset {
  margin: 0;
  padding: 0;
}
.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
}
.filter li {
  margin-bottom: 24px;
}
.filter-infrastructure {
  float: left;
  width: 255px;
  border-width: 0;
}
.filter-type {
  float: left;
  width: 255px;
  border-width: 0;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  display: table;
  position: relative;
  padding-left: 41px;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}
input[type="checkbox"] + label::before {
  content: "\2610";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  font-family: "symbols-sedona";
  font-size: 26px;
}
input[type="checkbox"]:checked + label::before {
  content: "\2611";
}
input[type="checkbox"]:disabled + label::before {
  color: #6a6a6a;
}
.filter-range {
  float: right;
  width: 327px;
  border-width: 0;
}
.filter-range .filter-range-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}
.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}
.price-controls label {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
  cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}
.price-controls .max-price {
  padding-left: 57px;
}
.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
  margin-left: 9px;
}
.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle:hover {
  background: #1c4f80;
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}
.btn-filter {
  margin: 0 auto;
  padding: 5px 33px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
.btn-filter:hover {
  color: #000000;
  background: #ffffff;
}
.catalog-header {
  margin-bottom: 29px;
  padding: 30px 72px;
  border-bottom: 1px solid #e5e5e5;
}
.catalog-found-count {
  margin-right: 44px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}
.catalog-sort {
  margin-right: 36px;
  font-size: 12px;
  line-height: 18px;
}
.sort-control {
  margin-right: 29px;
  font-size: 12px;
  line-height: 18px;
  color: #cacaca;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}
.sort-control:hover {
  color: #81b3d2;
}
.sort-control:active {
  color: #000000;
  border-bottom: 0;
}
.sort-control.active {
  color: #81b3d2;
  border-bottom: 0;
  cursor: default;
}
.sort-dir {
  float: right;
  margin-right: -10px;
  text-decoration: none;
  color: #cccccc;
  font-size: 23px;
  line-height: 20px;
}
.sort-dir:hover {
  color: #000000;
}
.sort-dir:active {
  color: #81b3d2;
}
.sort-dir.active {
  color: #81b3d2;
  cursor: default;
}
.catalog-item {
  position: relative;
  min-height: 90px;
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 0 72px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}
.catalog-item:last-child {
  margin-bottom: 0;
}
.catalog-item::after {
  content: '';
  display: table;
  clear:both;
}
.catalog-item-img {
  float: left;
  margin-right: 30px;
}
.catalog-item-img img {
  vertical-align: top;
}
.catalog-item-info {
  float: left;
}
.catalog-item-info h2 {
  margin: 0;
  margin-top: -3px;
  margin-bottom: 8px;
  font-size: 21px;
  font-weight: bold;
}
.catalog-item-link {
  text-decoration: none;
  color: #000000;
}
.catalog-item-link:hover {
  color: #81b3d2;
}
.catalog-item-link:active {
  color: #cacaca;
}
.catalog-item-type, .catalog-item-price {
  display: inline-block;
  vertical-align: top;
  width: 113px;
}
.catalog-item-price {
  display: inline-block;
  vertical-align: top;
}
.catalog-item-buttons {
  position: absolute;
  bottom: 30px;
  left: 237px;
  font-size: 0;
}
.catalog-item-buttons .btn {
  display: inline-block;
  vertical-align: top;
  line-height: 27px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}
.btn-more {
  margin-right: 6px;
  width: 110px;
  height: 27px;
  background-color: #81b3d2;
}
.btn-more:hover {
  background-color: #669ec0;
}
.btn-more:active {
  background-color: #5496bd;
  color: #88b6d1;
}
.btn-book {
  width: 142px;
  height: 27px;
  background-color: #766357;
}
.btn-book:hover {
  background-color: #604e43;
}
.btn-book:active {
  background-color: #503e33;
  color: #857871;
}
.catalog-item-stars {
  position: absolute;
  right: 70px;
  top: -5px;
  min-width: 150px;
  text-align: right;
  font-size: 0;
}
.catalog-item-stars .icon-star {
  font-size: 19px;
  margin-right: -3px;
  color: #81b3d2;
}
.catalog-item-rating {
  position: absolute;
  bottom: 29px;
  right: 71px;
  padding: 3px 14px;
  background-color: #f2f2f2;
}
